---
import Biography from "../components/Biography.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
// import LocaleSwitch from "../components/LocaleSwitch.astro";
import Skills from "../components/Skills.astro";
import Timeline from "../components/Timeline.astro";
import { translations } from "../content/i18n";
import Base from "../layouts/Base.astro";

export function getStaticPaths() {
  return [
    { params: { locale: undefined } },
    // { params: { locale: "en" } },
  ];
}

const { locale } = Astro.params;

const localePathParam = locale === "en" ? "en" : "fr";
---

<Base title={translations.page.title[localePathParam]}>
  <main class="container mx-auto px-4 sm:px-10 md:px-32">
    <div class="h-3 bg-slate-600 mb-7 print:hidden"></div>

    <Header locale={localePathParam} />

    <div
      class="grid grid-cols-1 print:grid-cols-[2fr_1fr] lg:grid-cols-[2fr_1fr] mb-3 mt-10 gap-12"
    >
      <div class="flex flex-col gap-8">
        <!-- <Biography locale={localePathParam} large={false} /> -->

        <Timeline
          locale={localePathParam}
          title={translations.experience.title[localePathParam]}
          collectionName="experience"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
            ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 96c-13.3 0-24-10.7-24-24s10.7-24 24-24s24 10.7 24 24s-10.7 24-24 24zm200-24c0 13.3-10.7 24-24 24s-24-10.7-24-24s10.7-24 24-24s24 10.7 24 24z"
            ></path></svg
          >
        </Timeline>

        <Timeline
          locale={localePathParam}
          title={translations.education.title[localePathParam]}
          collectionName="education"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
            ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C87.5 32 35.1 48.6 9 59.9c-5.6 2.4-9 8-9 14V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V73.9c0-6.1-3.4-11.6-9-14C540.9 48.6 488.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"
            ></path></svg
          >
        </Timeline>

        <Timeline
          locale={localePathParam}
          title={translations.sideProjects.title[localePathParam]}
          collectionName="side-projects"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
            ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M384 476.1L192 421.2V35.9L384 90.8V476.1zm32-1.2V88.4L543.1 37.5c15.8-6.3 32.9 5.3 32.9 22.3V394.6c0 9.8-6 18.6-15.1 22.3L416 474.8zM15.1 95.1L160 37.2V423.6L32.9 474.5C17.1 480.8 0 469.2 0 452.2V117.4c0-9.8 6-18.6 15.1-22.3z"
            ></path></svg
          >
        </Timeline>
      </div>

      <div class="flex flex-col gap-8">
        <!-- <Biography locale={localePathParam} large={true} /> -->

        <Skills locale={localePathParam} />
      </div>
    </div>

    <Contact />

    <Footer locale={localePathParam} />
  </main>

  <!-- <LocaleSwitch locale={locale} /> -->
</Base>
