---
import { getEntry } from "astro:content";
import { translations } from "../content/i18n";
import type { Locale } from "../models/locale";

export interface Props {
  locale: Locale;
  large: boolean;
}

const { locale, large } = Astro.props;

const biography = await getEntry("biography", `${locale}.md`);
const { Content } = await biography.render();
---

<div
  class:list={{
    hidden: large,
    "lg:block": large,
    "print:block": large,
    "lg:hidden": !large,
    "print:hidden": !large,
    block: !large,
    "mb-4": !large,
  }}
>
  <h2 class="section-title mb-6 flex gap-6 items-center">
    <svg
      class="section-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
      <path
        d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
      ></path></svg
    >

    {translations.biography.title[locale]}
  </h2>

  <Content />
</div>
