---
import type { Locale } from "../models/locale";

export interface Props {
  locale: Locale;
}
const { locale } = Astro.props;
---

<div
  class="bg-slate-600 mt-12 px-6 py-8 text-sm text-gray-100 text-center print:hidden"
>
  <p>Ⓒ Nicolas Rio 2023</p>

  {
    locale === "fr" ? (
      <>
        <p>
          Créé avec{" "}
          <a class="hover:text-slate-300" href="https://astro.build/">
            Astro
          </a>{" "}
          et{" "}
          <a class="hover:text-slate-300" href="https://tailwindcss.com/">
            Tailwind css
          </a>
          .
        </p>

        <p>
          Code source :{" "}
          <a
            class="hover:text-slate-300"
            href="https://gitlab.com/nicorio42/nicorio42.gitlab.io/"
          >
            gitlab.com/nicorio42/nicorio42.gitlab.io/
          </a>
        </p>
      </>
    ) : (
      <>
        <p>
          Created with{" "}
          <a class="hover:text-slate-300" href="https://astro.build/">
            Astro
          </a>{" "}
          and{" "}
          <a class="hover:text-slate-300" href="https://tailwindcss.com/">
            Tailwind css
          </a>
          .
        </p>

        <p>
          Source code :{" "}
          <a
            class="hover:text-slate-300"
            href="https://gitlab.com/nicorio42/nicorio42.gitlab.io/"
          >
            gitlab.com/nicorio42/nicorio42.gitlab.io/
          </a>
        </p>
      </>
    )
  }
</div>
