---
import { translations } from "../content/i18n";
import type { Locale } from "../models/locale";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<section
  class="flex justify-between flex-col print:flex-row md:flex-row gap-6 items-center"
>
  <img
    class="w-72 h-72 object-cover rounded-full grayscale-[80%]"
    src="/assets/images/profile-picture.jpg"
    alt={translations.header.profilePictureAlt[locale]}
  />

  <div class="text-right">
    <h1 class="text-4xl uppercase">
      <p>Nicolas</p><p class="font-semibold">Rio</p>
    </h1>

    <p class="text-xl uppercase">{translations.header.job[locale]}</p>
    <p>INSA Lyon</p>
    <p>{translations.header.catchPhrase[locale]}</p>
  </div>
</section>
