---
import Score from "./Score.astro";

const { name, score } = Astro.props;
---

<p class="flex justify-between items-center mb-1">
  <span class="whitespace-nowrap mr-3">{name}</span>
  <Score score={score} />
</p>
