---
import { translations } from "../content/i18n";
import { skills, languages, softSkills } from "../content/skills";
import type { Locale } from "../models/locale";
import SkillsItem from "./SkillsItem.astro";

export interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<div>
  <h2 class="section-title mb-6 flex gap-5 items-center">
    <svg
      class="section-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
      <path
        d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z"
      ></path></svg
    >

    {translations.skills.title[locale]}
  </h2>

  {skills.map((skill) => <SkillsItem name={skill.name} score={skill.score} />)}

  <hr class="h-4 border-none" />

  {
    softSkills.map((skill) => (
      <SkillsItem name={skill.name[locale]} score={skill.score} />
    ))
  }

  <h2 class="section-title mb-6 mt-10 flex gap-5 items-center">
    <svg
      class="section-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
      <path
        d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z"
      ></path></svg
    >

    {translations.languages.title[locale]}
  </h2>

  {
    languages.map((language) => (
      <SkillsItem name={language.name[locale]} score={language.score} />
    ))
  }
</div>
