---
export interface Props {
  title: string, company: string, durationInMonthes: string, location: string, isLast: boolean
}
const { title, company, durationInMonthes, location, isLast } = Astro.props;
---

<section class:list={{"relative": isLast}}>
  <span class="absolute bg-white h-full w-2 -left-11 top-4"></span>

  <h3 class="uppercase text-xl relative">
    <span
      class="bg-gray-900 w-[0.625rem] h-[0.625rem] rounded-full absolute -left-[2.875rem] top-[0.625rem]"
    ></span>
    {title}
  </h3>

  <p class="flex gap-6 justify-between items-center mb-3">
    <span
      >{company}{
        durationInMonthes !== undefined && <>,&nbsp;{durationInMonthes}</>
      }</span
    >

    {location !== undefined && <span class="flex gap-2"
    ><svg class="w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
      ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
      <path
        d="M384 192c0 87.4-117 243-168.3 307.2c-12.3 15.3-35.1 15.3-47.4 0C117 435 0 279.4 0 192C0 86 86 0 192 0S384 86 384 192z"
      ></path></svg
    >{location}</span
  >}
    
  </p>

  <div class="my-4 flex flex-col gap-2">
    <slot />
  </div>
</section>
