---
import { getCollection } from "astro:content";
import type { CollectionsNames } from "../content/config.model";
import type { Locale } from "../models/locale";
import TimelineItem from "./TimelineItem.astro";

interface Props {
  locale: Locale;
  title: string;
  collectionName: CollectionsNames;
}

const { locale, title, collectionName } = Astro.props;

const items = await getCollection(collectionName, ({ id }) => {
  // Return all entries in `src/content/docs/en/`
  return id.startsWith(locale === "en" ? "en/" : "fr/");
});
---

<div
  class="flex flex-col gap-6 border-l-2 print:border-l-1 border-gray-300 pl-10 mx-4 print:break-inside-avoid"
>
  <h2 class="section-title relative">
    <div
      class="section-icon absolute -left-14 top-1/2 -translate-y-1/2 bg-white"
    >
      <slot />
    </div>

    {title}
  </h2>

  <Fragment slot="content">
    {
      items.map(async (item, index) => {
        const { Content } = await item.render();

        return (
          <TimelineItem
            title={item.data.title}
            company={item.data.company}
            durationInMonthes={item.data.duration}
            location={item.data.location}
            isLast={index === items.length - 1}
          >
            <Content />
          </TimelineItem>
        );
      })
    }
  </Fragment>
</div>
