---
const { title } = Astro.props;
import "./main.css";
---

<html lang="en" class="print:text-xs">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-gray-900 font-sans">
    <slot />
  </body>
</html>
