@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply uppercase text-xl text-teal-500;
  }

  .section-icon {
    @apply fill-gray-900 w-8;
  }

  a {
    @apply hover:text-teal-500;
  }
}
